{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	{% if not app.user %}
		{% set targetPath = path('connexion') %}
		{% if app.request.query.has('redirect_to') %}
			{% set targetPath = app.request.query.get('redirect_to') %}
		{% endif %}

		<script>
			setTimeout(function () {
window.location.href = '{{ targetPath }}';
}, 0);
		</script>
	{% endif %}
    {% if app.user %}
<p>Connecté en tant que {{ app.user.userIdentifier }}</p>  <a href="{{ path('app_logout') }}">Logout</a><br>
    {% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('admin') }}">Admin</a>
	{% endif %}
{% endblock %}
