{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% if not app.user %}
		{% set targetPath = path('connexion') %}
		{% if app.request.query.has('redirect_to') %}
			{% set targetPath = app.request.query.get('redirect_to') %}
		{% endif %}

		<script>
			setTimeout(function () {
window.location.href = '{{ targetPath }}';
}, 0);
		</script>
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('admin') }}">Admin</a>
	{% endif %}
	<a href="{{ path('app_logout') }}">Deconnexion</a>

	{# Calendrier #}
	<div class="global-container d-flex">
		<div class="calendrier-container">
			<header class="calendrier-header">
				<select id="mois-select"></select>

				<select id="annee-select"></select>

				<p class="date-actuelle-calendrier"></p>

				<div class="calendrier-nav">
					<span id="calendrier-prev">
						<i class="fa-solid fa-chevron-left"></i>
					</span>
					<span id="calendrier-next">
						<i class="fa-solid fa-chevron-right"></i>
					</span>
				</div>
			</header>

			<div class="calendrier-body">
				<ul class="calendrier-jours">
					<li>Lun</li>
					<li>Mar</li>
					<li>Mer</li>
					<li>Jeu</li>
					<li>Ven</li>
					<li>Sam</li>
					<li>Dim</li>
				</ul>
				<ul class="calendrier-dates"></ul>
			</div>
		</div>
        <div id="info-container">
        <h2 class="text-center text-light">Evenements</h2>
        </div>
    </div>
	</section>
{% endblock %}
