*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.calendrier-container{
  background-color: #fff;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendrier-container header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendrier-nav{
  display: flex;
}

header .calendrier-nav span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendrier-nav span:last-child {
  margin-right: -10px;
}

header .calendrier-nav span:hover{
  background: #f2f2f2;
}

header .date-actuelle-calendrier {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendrier-body {
  padding: 20px;
}

.calendrier-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendrier-body .calendrier-dates {
  margin-bottom: 20px;
}

.calendrier-dates li{
  border: 1px solid;
  height: 100px;
  display: flex;
  justify-content: end;
  padding-top: 1%;
  padding-right: 1%;
}


.calendrier-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendrier-body .calendrier-jours li {
  cursor: default;
  font-weight: 500;
}

.calendrier-dates li.inactive {
  color: #aaa;
}

.calendrier-dates li.active {
  color: #fff;
}


li.day.active {
  background: red;
  color: yellow;
}

.calendrier-dates li:not(.active):hover::before {
  background: #e4e1e1;
}

/* Info Container */

#info-container{
  background-color: #414141;
  width: 40%;
}