{% extends 'base.html.twig' %}

{% block title %}Hello ChangeMdpController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{# Afficher les erreurs du formulaire #}
{% if form_errors(form)|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form_errors(form) %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% endblock %}
